<div class="container companyContainerView ">
  <div class="companyDashboard col-md-12 SignUpHeadings">
    <h2 class = "signupHeader">Your Saved Studies:</h2>
    <div class="container companyDashboard col-md-10" ng-repeat="study in savedStudies">
      <h2>{{study.studyTitle}}</h2>
      <button class="btn btn-danger" ng-click="removeSavedStudy(study.id)">Remove Study</button>
    </div>
  </div>

  <div class="companyDashboard col-md-12">
      <h2 class= "signUpHeader">Companies near you running your saved studies: </h2>
      <div class="container companyDashboard col-md-10 SignUpHeadings" ng-repeat="company in userCompanies">
        <h3>{{company.studyTitle}}</h3>
        <h3>Company Name: {{company.companyName}}</h3>
        <h3>Phone Number: {{company.companyPhone}}</h3>
        <h3>Contact Email: {{company.companyEmail}}</h3>
        <h3>Location: {{company.companyCity}}</h3>
      </div>
    </div>
</div>