<div class="container companyContainerView ">
  <div class="companyDashboard col-md-12">
    <h2>Your Saved Studies:</h2>
    <div class="container companyDashboard col-md-10" ng-repeat="study in savedStudies">
      <h2>{{study.studyTitle}}</h2>
      <button class="btn btn-danger" ng-click="removeSavedStudy(study.id)">Remove Study</button>
    </div>
  </div>

  <div class="companyDashboard col-md-12">
      <h2>Companies near you running your saved studies: </h2>
      <div class="container companyDashboard col-md-10" ng-repeat="company in companies">
        <h3>{{company}}</h3>
      </div>
    </div>
</div>